@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

.stats{
  color: white;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(120deg,black, #190f2a);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  background-attachment: fixed;
  font-family: "Play", sans-serif;


  &_name{
    font-size: 24px;
    font-weight: bold;


  }
  &_card{

    background-image: radial-gradient(
                    at 88% 40%,
                    hsla(240, 15%, 9%, 1) 0px,
                    transparent 85%
    ),
    radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 0% 64%, hsla(263, 93%, 56%, 1) 0px, transparent 85%),
    radial-gradient(at 41% 94%, hsla(284, 100%, 84%, 1) 0px, transparent 85%),
    radial-gradient(at 100% 99%, hsla(306, 100%, 57%, 1) 0px, transparent 85%);
    text-align: center;
    transform-style:preserve-3d ;
    position: fixed;
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    animation: stats 1s 1;
    backdrop-filter: blur(10px);
    z-index: 1000;
    left: calc(50% - 30%);
    top: calc(50% - 40%);
    width: 60%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 0px white;


    &_content{
      display: flex;
       flex-direction: column;
      gap: 20px;
    }
  }

  
    &_table{
      
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
       overflow-y:scroll ;
      overflow-x: hidden;
      justify-content: space-evenly;
      gap: 10px;
      align-items: center;  
      overflow-y: scroll;

      &::-webkit-scrollbar{

      }

      &::-webkit-scrollbar-track{
          background-color: red;
          color: red;
      }
    }

}

.card{
  border-radius: 10px;
  width: 500px;
  height: 50px;
  box-shadow: 0px 0px 10px white;
  backdrop-filter: blur(10px);
  display: flex;
  transition: all .1s linear;
  justify-content:space-evenly;
  align-items: center;
 color: white;
 font-family: "Play", sans-serif;

  &_name{
    width: 150px;
  }
  &_btn{
    background: none;
    border: none;
    outline: none;
    color: white;
    border: 2px solid darkviolet;
    cursor: pointer;
    box-shadow: inset 0px 0px 15px purple;

    font-family: 'Play';
    padding: 10px;
    border-radius: 22px;

    &:hover{
      border: 3px solid darkviolet;
    }

  }
   &_status{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;
   }

  &_status_active{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    animation: status 2s infinite linear;
    box-shadow: 0px 0px 10px green;
  }

  &_status_inactive{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    animation: status 2s infinite linear;
    box-shadow: 0px 0px 10px red;
  }


  &:hover{
    transform: translateX(15px);
    box-shadow: 0px 0px 10px blue;
    cursor: pointer;
  }
}



.loading{
   height: 100vh;
   background:linear-gradient(120deg,rgb(0, 0, 80),black);
  display: flex;
  justify-content: center;
  align-items: center;
}



.close img{
  width: 25px;

}

.close{
  position: absolute;
  top: 20px;
  right: 20px;
}

.close:hover{
  cursor: pointer;
}






@keyframes status{
  0%{
    opacity:0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }


}

@keyframes stats{
  0%{
    transform: scale(0) rotateY(0deg);
  }
  100%{
    transform: scale(1) rotateY(360deg);
  }
}

@media screen and (max-width: 975px){
  .stats_card{

    width: 90vw;
    height: 90vh  ;
    left: calc(50% - 45vw);
    top: calc(50% - 45vh);
  }
}


@media screen and (max-width: 700px) {


      .stats_card{
        flex-direction: column;
        width: 90vw;
        height: 90vh  ;
        left: calc(50% - 45vw);
        top: calc(50% - 45vh);
      }

}

@media screen and (max-width: 600px)
{

  #logo{
    width: 10px;
  }

   .stats{
     &_name{
       visibility: hidden;
     }
   }

   .stats_card{
     height: 80vh;
   }

  .stats_card_content{
    font-size: 14px;
    text-align: center;

  }



}


@media screen and (max-width: 500px){
  .card{
    width: 90vw;

    &_name{
      font-size: 0.8rem;
    }

    &_btn{
      width: 4rem;
      height: 2rem;
      font-size: 0.5rem;
    }

    &_status{
      font-size: 0.8rem;
    }
  }
}
