@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');


@font-face {
  font-family: 'GeistVF';
  src:  url('../app/fonts/GeistVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'GeistVFMono';
  src:  url('../app/fonts/GeistMonoVF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMonoBlack';
  src:  url('../app/fonts/GeistMono-Black.otf') format('otf');
 
}
.stats{
  color: white;
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
   


  &_total{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }

  &_title{
    font-size: 3rem;
    align-content: center;
    align-self: flex-start;
    font-weight: 600;
    color: transparent;
    background-clip: text;
   
    background-image: linear-gradient(150deg,rgb(85, 85, 85),white);
    font-family: 'GeistMono';
    font-weight: bold;
    height: 100px;
    width: max-content;   
  }

  &_name{
    font-size: 24px;
    font-weight: bold;
  }
  &_card{
   
    background: rgba(0, 0, 0, 0.205);
    text-align: center;
    transform-style:preserve-3d ;
    position: fixed;
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    animation: stats 1s 1;
    backdrop-filter: blur(40px);
    z-index: 1000;
    left: calc(50% - 30%);
    top: calc(50% - 40%);
    width: 60%;
    height: 80%;
    padding:5%;
    border-radius: 10px;
  
   

    &_content{
      display: flex;
       flex-direction: column;
      gap: 20px;

    }

    
  }
  

    &_table{
      animation: table 3s 1;
      width: 80%;
      border-radius: 35px 35px 0 0 ;
      padding:40px;
      height: 90%;
      display: flex;
      flex-direction: column;


      overflow: hidden;
      & thead{
        display: flex;
        width: 100%;
        justify-content: center;
         height: max-content;
       
        & tr{
          width: 80%;
          height: 50px;
          border: 1px solid rgb(0, 1, 48);
          display: flex;
          align-items: center;
          justify-content: space-around;
          border-radius: 15px 15px 0px 0px;
          font-family: 'GeistVF';

        
        }
      }
      
      & tbody{
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-y:scroll;
        align-items: center;
        &::-webkit-scrollbar {
          display: none; /* Прячет скроллбар */
        }
       
      }
    }

}

.card{
 
  width: 80%;
  height: 80px;
  border: 1px solid rgb(0, 1, 48);
  backdrop-filter: blur(10px);
  display: flex;
  transition: all .1s linear;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-family: "Geist", sans-serif;
   

  &_name {
    width: 150px;
  }

  &_btn {
    background: none;
     letter-spacing: 1px;
    border: none;
    outline: none;
    color: white;
   box-shadow: 0px 0px 5px blue;
    cursor: pointer;
   

    font-family: 'Play';
    padding: 10px 15px;
    border-radius: 8px;

    &:hover {
    background-color: blue;
    color: white;
    }

  }

  &_status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: monospace;
    font-size: 0.7rem;
    background: white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    color: black;
  }

  &_status_active {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: green;
    animation: status 2s infinite linear;
    box-shadow: 0px 0px 10px green;
  }

  &_status_inactive {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
    animation: status 2s infinite linear;
    box-shadow: 0px 0px 10px red;
  }


  &:hover {
    // transform: translateX(15px);
    border: 1px solid rgb(63, 63, 63);
    cursor: pointer;
  }

}

.welcome{
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.close img{
  width: 25px;

}

.close{
  position: absolute;
  top: 20px;
  right: 20px;
}

.close:hover{
  cursor: pointer;
}

.greeting{
  color: whitesmoke;
  font-family: 'GeistVF';
  animation: greeting 4s 1 forwards;
}

.home{
  background: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  &_heading{
    height: 100px;
    z-index: 1;
    letter-spacing: 1px;
    font-size: 5rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
   text-align: center;
    & sup{
      width: 200px;
      font-size: 2rem;
      color: transparent;
      background-clip: text;
      z-index: 4;
      background-image: linear-gradient(120deg,white,black 0,10%,white);

    }
  }


  &_nav{
    position: fixed;
    bottom: 5vh;
    color: white;
    font-family: Arial;
    font-size: 14px;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;

    & div{
      width: 150px;
      height: 50px;
      border: 1px dotted gray;
      border-radius: 5px;
      text-align: center;
      align-content: center;

      position: relative;
      background: black;
    }
    &_button{
      background: linear-gradient(120deg,orange 0,20% ,blue);

      width: 150px;
       border: none;
      outline: none;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      height: 50px;
      clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
   border-radius: 5px;
       z-index: 1;

    }
    &_firstelement{
      position: relative;
      &::after{

        position: absolute;
        left: 0px;

        top: 50%;
        content: '';
        width: 50px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 1px #0000ff;
        height: 1px;
        background: #000094;
        animation: beamtoright 5s infinite;
        z-index: -1;
      }
    }
    &_lastelement{

      position: relative;
      &::after{

        position: absolute;
        right: 0px;

        top: 50%;
        content: '';
        width: 50px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 1px #0000ff;
        height: 1px;
        background: #000094;
        animation: beamtoleft 5s infinite;
         z-index: -1;
      }
    }
  }


  &_design{
    position: absolute;
    width: 10px;
    height: 10px;
    left: calc(50% - 200px);
    top: calc(50% - 200px);
    border-radius: 40% 60% 70% 30% / 30% 70% 60% 40%;
    filter: blur(50px);
    opacity: 0.8;

    animation: morph 10s infinite cubic-bezier(0.4, 0, 0.2, 1), rotateColors 12s infinite linear;
  }
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
 
       &_info{
        display: flex;
        align-items: center;
        justify-content: space-between;
       gap: 40px;
       }  

  &_logo{

    display: flex;
    align-items: center;
    font-family: 'GeistVF';
    font-weight: 500;
    justify-content: center;
    font-size:1rem;
    height: 100%;
    & img{
      filter: drop-shadow(0px 0px 2px black);
    }

  }
  &_nav{
      display: flex;
      height: 100%;
      width: max-content;
    & ul{
       height: 100%;   
       width: 100%;
       gap: 50px; 
       font-size: 0.8rem;
       display: flex;
       justify-content:space-between;
       font-family: 'GeistVF';
       align-items: center;
     
    }
  }
}

.docs{
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   & h1{
     align-self: flex-start;
     font-family: 'GeistVF';
     font-size: 3rem;
   }

   &_container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

   }
}














@keyframes beamtoleft{
  0%{transform: translateX(0px);}
  100%{transform: translateX( -25vw);}
}
@keyframes beamtoright{
  0%{transform: translateX(0px);}
  100%{transform: translateX( 25vw);}
}


@keyframes morph {
  0% {
    border-radius: 40% 60% 70% 30% / 30% 70% 60% 40%;
    transform: translate(0, 0) scale(1);
  }
  25% {
    border-radius: 60% 40% 50% 50% / 50% 60% 40% 60%;
    transform: translate(-50px, 20px) scale(1.1);
  }
  50% {
    border-radius: 50% 50% 60% 40% / 60% 50% 40% 50%;
    transform: translate(50px, -30px) scale(1.2);
  }
  75% {
    border-radius: 70% 30% 40% 60% / 40% 60% 30% 70%;
    transform: translate(-20px, -50px) scale(1.1);
  }
  100% {
    border-radius: 40% 60% 70% 30% / 30% 70% 60% 40%;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes rotateColors {
  0% {
   background: blue;
  }
  10%{
    background: darkblue;
  }
  20%{
    background:darkviolet;
  }
  40%{
    background:darkblue;
  }
  50%{
    background: blue;
  }
  75%{

  }
  100% {
    background: blue;
  }
}

@keyframes table {

  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes greeting{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes status{
  0%{
    opacity:0.3;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.3;
  }


}

@keyframes stats{
  0%{
    transform: scale(0) rotateY(0deg);
  }
  100%{
    transform: scale(1) rotateY(360deg);
  }
}






@media screen and (max-width: 975px){
  .stats_card{
    width: 90vw;
    height: 90vh  ;
    left: calc(50% - 45vw);
    top: calc(50% - 45vh);
    flex-direction: column;
  }

.stats{
  &_title{
    width: 100%;
    font-size: 3rem;
    text-align: center;
  }

  &_table{
   
    & thead{
      
      & tr{
        width: 100%;
      }
    }
     
  
  }

}

   
  .card{
    height: 9vh;
    width: 100%;
  }

  
}

@media screen and (max-width: 700px) {
  .stats_table{
    box-shadow: 0px -5px 100px rgb(0, 0, 154);
    width: 100vw;
  }

      .stats_card{
        flex-direction: column;
        width: 90vw;
        height: 90vh  ;
        left: calc(50% - 45vw);
        top: calc(50% - 45vh);
      }
 .header{ 
  &_nav{
    display: none;
   }
 }
}

@media screen and (max-width: 600px){
 

  
  #logo{
    width: 10px;
  }

   .stats{
     &_name{
       visibility: hidden;
     }
   }

 

  .stats_card_content{
    font-size: 14px;
    text-align: center;

  }



}

@media screen and (max-width: 500px){
   


.header{
   
   &_menu{
      & img{
        width: 25px;
        height: 25px;
      }
   }

   &_logo{
    font-size: 0.8rem;

    & img{
      width: 80px;
      height: 62px;
    }
   }
   
}

.container{
  width: 90vw;
}

.responsUser{
    width: 140px; 
    height: 140px;
}
  
.stats_title{
  font-size: 2rem;
}

  .stats_table{
    box-shadow: 0px -5px 100px rgb(0, 0, 154);
    padding: 20px 10px;
    & thead{
  
      & tr{
        padding: 5px;
        justify-content: space-between;
        font-size: 0.7rem;
             
      }
    }
  }
   
  .card{
    width: 100%;
     


    &_name{
      font-size: 0.7rem;
      width: 100px;
    }

    &_btn{
      padding: 0;
      width: 3rem;
      height: 1.5rem;
      font-size: 0.6rem;
    }

    &_status{
      gap: 5px;
      padding: 5px 3px;
    
      font-size: 0.5rem;
    }
  }

  .stats_card{
    height: 95vh;
    width: 100vw;
    left: calc(50% - 50vw);
  }
}




@media screen and (max-width:375px) {
  .responsUser{
       width: 120px; 
       height: 120px;
  }
 
  .stats{
      

  &_title{
    font-size: 1.5rem;
  }

    &_card{

    justify-content: space-evenly;


      &_content{
        font-size: 12px;
        height: 30%;
      }
    }

    &_card{
      height: 95vh;
    }
   }

   .card{
 

    &_status{
      gap: 5px;
      padding: 8px;
    }

    &_btn{
      width: 45px;
      padding: 0;
      
    }
   }




}