@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.stats{
  color: white;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(120deg,black, #190f2a);
  display: flex;
  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  background-attachment: fixed;
  font-family: "Play", sans-serif;
  &_total{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }

  &_title{
    font-size: 5rem;
    font-weight: 600;
    color: transparent;
    background-clip: text;
    // background-image: linear-gradient(120deg,purple,orange,white);
    background-image: linear-gradient(150deg,black,white);
    font-family: Arial;
  }

  &_name{
    font-size: 24px;
    font-weight: bold;


  }
  &_card{

    background-image: radial-gradient(
                    at 88% 40%,
                    hsla(240, 15%, 9%, 1) 0px,
                    transparent 85%
    ),
    radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 0% 64%, hsla(263, 93%, 56%, 1) 0px, transparent 85%),
    radial-gradient(at 41% 94%, hsla(284, 100%, 84%, 1) 0px, transparent 85%),
    radial-gradient(at 100% 99%, hsla(306, 100%, 57%, 1) 0px, transparent 85%);
    text-align: center;
    transform-style:preserve-3d ;
    position: fixed;
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    animation: stats 1s 1;
    backdrop-filter: blur(10px);
    z-index: 1000;
    left: calc(50% - 30%);
    top: calc(50% - 40%);
    width: 60%;
    height: 80%;
    padding:5%;
    border-radius: 10px;
    box-shadow: 0px 0px 0px white;
   

    &_content{
      display: flex;
       flex-direction: column;
      gap: 20px;
      
    }

    
  }

  
    &_table{
      animation: table 3s 1;
      width: 30vw;
  
      border-top: 3px solid orange;
      border-radius: 15px;
      padding: 50px 0px 50px 0px;
      height: 100vh;
      display: flex;
      flex-direction: column;
       overflow-y:scroll ;
      overflow-x: hidden;
      justify-content: space-evenly;
      gap: 15px;
      align-items: center;  
      

      &::-webkit-scrollbar {
        display: none; /* Прячет скроллбар */
      }
    }

}

.card {
  border-radius: 10px;
  width: 500px;
  height: 80px;
  border: 1px solid rgb(0, 0, 99);
  backdrop-filter: blur(10px);
  display: flex;
  transition: all .1s linear;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-family: "Play", sans-serif;
  

  &_name {
    width: 150px;
  }

  &_btn {
    background: none;
     letter-spacing: 1px;
    border: none;
    outline: none;
    color: white;
   box-shadow: 0px 0px 5px blue;
    cursor: pointer;
   

    font-family: 'Play';
    padding: 10px 15px;
    border-radius: 8px;

    &:hover {
    background-color: blue;
    color: white;
    }

  }

  &_status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: monospace;
    font-size: 0.7rem;
  }

  &_status_active {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: green;
    animation: status 2s infinite linear;
    box-shadow: 0px 0px 10px green;
  }

  &_status_inactive {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    animation: status 2s infinite linear;
    box-shadow: 0px 0px 10px red;
  }


  &:hover {
    // transform: translateX(15px);
    box-shadow: 0px 0px 10px blue;
    cursor: pointer;
  }

}

.container{
  width: 80vw;
  margin: 0 auto;
}

.loading{
  height: 100vh;
  background:linear-gradient(120deg,rgb(0, 0, 80),black);
  display: flex;
  justify-content: center;
  align-items: center;
}



.close img{
  width: 25px;

}

.close{
  position: absolute;
  top: 20px;
  right: 20px;
}

.close:hover{
  cursor: pointer;
}

.greeting{
  color: whitesmoke;
  font-family: 'Play';
  animation: greeting 5s 1 forwards;
}

.home{
  background: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  &_heading{
    height: 100px;
    z-index: 1;
    letter-spacing: 1px;
    font-size: 5rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
   text-align: center;
    & sup{
      width: 200px;
      font-size: 2rem;
      color: transparent;
      background-clip: text;
      z-index: 4;
      background-image: linear-gradient(120deg,white,black 0,10%,white);

    }
  }


  &_nav{
    position: fixed;
    bottom: 5vh;
    color: white;
    font-family: Arial;
    font-size: 14px;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;

    & div{
      width: 150px;
      height: 50px;
      border: 1px dotted gray;
      border-radius: 5px;
      text-align: center;
      align-content: center;

      position: relative;
      background: black;
    }
    &_button{
      background: linear-gradient(120deg,orange 0,20% ,blue);

      width: 150px;
       border: none;
      outline: none;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      height: 50px;
      clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
   border-radius: 5px;
       z-index: 1;

    }
    &_firstelement{
      position: relative;
      &::after{

        position: absolute;
        left: 0px;

        top: 50%;
        content: '';
        width: 50px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 1px #0000ff;
        height: 1px;
        background: #000094;
        animation: beamtoright 5s infinite;
        z-index: -1;
      }
    }
    &_lastelement{

      position: relative;
      &::after{

        position: absolute;
        right: 0px;

        top: 50%;
        content: '';
        width: 50px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 1px #0000ff;
        height: 1px;
        background: #000094;
        animation: beamtoleft 5s infinite;
         z-index: -1;
      }
    }
  }


  &_design{
    position: absolute;
    width: 10px;
    height: 10px;
    left: calc(50% - 200px);
    top: calc(50% - 200px);
    border-radius: 40% 60% 70% 30% / 30% 70% 60% 40%;
    filter: blur(50px);
    opacity: 0.8;

    animation: morph 10s infinite cubic-bezier(0.4, 0, 0.2, 1), rotateColors 12s infinite linear;
  }
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  overflow: hidden;
  // position: fixed;
  // top: 0;
  // left: 0;
 

  width: 90vw;
  margin: 0 auto;


  &_logo{
    display: flex;
    align-items: center;
    font-family: "Poppins", serif;
    font-weight: 500;
    justify-content: center;
    font-size:1.1rem;
 
    & img{
      filter: drop-shadow(0px 0px 2px black);
    }

  }
}

.payment{
width: 100vw;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
z-index: 1000;

&_heading{
  font-size: 3rem;
  z-index: 1000 !important;
}
&_card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  & p{
    font-family: Arial;
    font-weight: 600;
    font-size: 1.1rem;
     color: white;
     
  }

  &_data{
   
    font-family: "Space Grotesk", serif;
    font-size: 0.9rem;
    width: 100%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
     
    &_currency{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.8rem;
    }
    &_btn{
      background-color: rgb(43, 15, 145);
      color: white;
      outline: none;
      border: none;
       width: 100px;
       border-radius: 5px;
       font-weight: bold;
       height: 40px;
    }


  }
   


  z-index: 2;
 border-radius: 10px;
  width: 600px;
  padding: 20px;
  height: 150px;
}

&_details{
  // background-color: rgb(223, 223, 223);
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 50vh;
}
}




@keyframes beamtoleft{
  0%{transform: translateX(0px);}
  100%{transform: translateX( -25vw);}
}
@keyframes beamtoright{
  0%{transform: translateX(0px);}
  100%{transform: translateX( 25vw);}
}


@keyframes morph {
  0% {
    border-radius: 40% 60% 70% 30% / 30% 70% 60% 40%;
    transform: translate(0, 0) scale(1);
  }
  25% {
    border-radius: 60% 40% 50% 50% / 50% 60% 40% 60%;
    transform: translate(-50px, 20px) scale(1.1);
  }
  50% {
    border-radius: 50% 50% 60% 40% / 60% 50% 40% 50%;
    transform: translate(50px, -30px) scale(1.2);
  }
  75% {
    border-radius: 70% 30% 40% 60% / 40% 60% 30% 70%;
    transform: translate(-20px, -50px) scale(1.1);
  }
  100% {
    border-radius: 40% 60% 70% 30% / 30% 70% 60% 40%;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes rotateColors {
  0% {
   background: blue;
  }
  10%{
    background: darkblue;
  }
  20%{
    background:darkviolet;
  }
  40%{
    background:darkblue;
  }
  50%{
    background: blue;
  }
  75%{

  }
  100% {
    background: blue;
  }
}

@keyframes table {

  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes greeting{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes status{
  0%{
    opacity:0.3;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.3;
  }


}

@keyframes stats{
  0%{
    transform: scale(0) rotateY(0deg);
  }
  100%{
    transform: scale(1) rotateY(360deg);
  }
}



@media screen and (max-width: 1575px){
  .stats_table{
    width: 40vw;
    
  }

}

@media screen and (max-width: 975px){
  .stats_card{

    width: 90vw;
    height: 90vh  ;
    left: calc(50% - 45vw);
    top: calc(50% - 45vh);
  }

  .stats_table{
    width: 100vw;
    
  }

  .stats_title{
    width: 100%;
    font-size: 4rem;
    text-align: center;
  }

  .card{
    height: 9vh;
  }

  
}

@media screen and (max-width: 700px) {
  .stats_table{
    box-shadow: 0px -5px 100px rgb(0, 0, 154);
  }

      .stats_card{
        flex-direction: column;
        width: 90vw;
        height: 90vh  ;
        left: calc(50% - 45vw);
        top: calc(50% - 45vh);
      }

}

@media screen and (max-width: 600px){
 

  
  #logo{
    width: 10px;
  }

   .stats{
     &_name{
       visibility: hidden;
     }
   }

   .stats_card{
     height: 80vh;
   }

  .stats_card_content{
    font-size: 14px;
    text-align: center;

  }



}

@media screen and (max-width: 500px){
   
.payment{
  &_card{
    width: 90vw;
    height: 20vh;
  }
}

.header{
   
   &_menu{
      & img{
        width: 25px;
        height: 25px;
      }
   }

   &_logo{
    font-size: 0.8rem;

    & img{
      width: 80px;
      height: 62px;
    }
   }
}

.container{
  width: 90vw;
}

  .responsUser{
    width: 140px; 
    height: 140px;
}
  
  .stats_table{
    box-shadow: 0px -5px 100px rgb(0, 0, 154);

  }
   
  .card{
    width: 90vw;
     


    &_name{
      font-size: 0.8rem;
    }

    &_btn{
      width: 4rem;
      height: 2rem;
      font-size: 0.6rem;
    }

    &_status{
      font-size: 0.5rem;
    }
  }

  .stats_card{
    height: 95vh;
  }
}




@media screen and (max-width:375px) {
  .responsUser{
       width: 120px; 
       height: 120px;
  }
 
  .stats{
      
    &_card{

    justify-content: space-between;


      &_content{
        font-size: 12px;
        height: 30%;
      }
    }

    &_card{
      height: 95vh;
    }
   }

  


}