@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

ul,li,ol{
    list-style-type: none;
}

.order{
    width: 80vw;
    margin: 0 auto;
    background: linear-gradient(120deg,white 0,1%,rgb(0, 0, 0),rgb(53, 53, 53));
    padding: 5%;
    border-radius: 15px;
    min-height: 100vh;
    position: relative;
    
    &_accept{
        margin-top: 20px;
        width: 150px;
        height: 50px;
        color: white;
        border: none;
        border-radius: 10px;
        outline: none;
        background:linear-gradient(120deg,white 0,5%,blue);
        position: relative;
        overflow: hidden;
         transition: all .2s ease;
        &:hover{
            transform: scale(1.1);
        }

        &:after{
            content: '';
            width: 15px;
            height: 50px;
            background: rgb(255, 255, 255);
            filter: blur(12px);
            position: absolute;
            animation: design 5s infinite linear;
            left: 0;
            top: 0;
        }


    }
   
    &_info{
        font-family: "Roboto", serif;
       padding: 120px;
       display: flex;
       flex-direction: column;
       color: white; 
    &_heading{
        font-size: 12px;
    }
       &_name{
        font-size: 1.5rem;
        letter-spacing: 1px;
       }
       &_status{
            width: 140px;
            font-size: 0.8rem;
            letter-spacing: 1px;
            color: rgb(201, 201, 201);
            position: relative;
        &:after{
            position: absolute;
            top: 0;
            right:10px;
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: orange;
            animation: blink 3s infinite linear;
        
        }
       }
    }

    &_checklist{
        height: 60vh;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
       
         & ul{
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & li{
                gap: 2%;
                display: flex;
                align-items: center;
                color: white;
              }
         }
       
    }

    &_chart{
        width: 300px;
        
    }
    &:after{
        content: 'Действует скидка';
        width: 120px;
        height: 40px;
        border-radius: 30px;
        font-size: 12px;
        background-color: yellowgreen;
        color: white;
        position: absolute;
        right: 10px;
        top: 10px;
        text-align: center;
        align-content: center;

    }
    & h1{
        color: white;
        font-size:4rem;
    }

    &_total-price{
        font-size: 2rem;
        color: white;
       font-family:'Arial';
     
        position: relative;
       

        & sup{
            font-size: 1rem;
        }

    }
}


@media screen and (max-width:500px){
    .order{
        width: 95vw;
        border-radius: 30px;  
        border-top: 2px solid rgb(66, 66, 66);
       
      
        &_total-price{
            font-size: 1.5rem;
            & sup{
                font-size: 0.8rem;
            }
        }

         &_checklist{
            & ul{

                & li{
                    font-size: 12px;
                }
            }
         }

         &_info{
            padding: 20px;
         }

        &:after{
            width: 21%;
            height: 26px;
            font-size: 10px;
        }

        & h1{
            color: white;
            font-size:3rem;
        }
    }
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    50%{opacity: 0.8;}
    100%{
        opacity: 0;
    }
}

@keyframes design{
    0%{ 
        opacity: 0;
        transform: translateX(0);
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        transform: translateX(140px);
        opacity: 0;
    }
}