.button{
    width:120px;
    height: 40px;
    background: blue;
    color: white;
    border-radius: 25px;
    align-self: center;
    transition: all .2s ease;
    &:hover{
        background: white;
        color: black;
    }
}